* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.notFoundText,
button {
  width: 133px;
  height: 25px;
  font: normal bold 1.5rem Inconsolata;
  line-height: 1.5625rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}
.header {
  font-family: Space Mono;
  font: normal bold;
  letter-spacing: -0.035em;
  /* Gray 1 */
  color: #333333;
}
.bottomText {
  font-family: Space Mono;
  font: normal bold;
  letter-spacing: -0.035em;
  /* Gray 2 */
  color: #4f4f4f;
}
button {
  width: 216px;
  height: 68px;
  /* Gray 1 */
  background: #333333;
  margin-bottom: 3.8rem;
}
button > span {
  font-family: Space Mono;
  font-style: normal bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer {
  display: flex;
  justify-content: center;
  align-items:flex-end
}
.footer > p {
  width: 287px;
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #bdbdbd;
}
.footer > p > a {
  color: #bdbdbd;
  text-decoration: none;
}
.footer > p > a:hover {
  color: #636161;
  text-decoration: underline;
}

.container {
  width:100%;
  display: flex;
  flex-direction: row;
}
.notFoundText {
  margin: 2% 3%;
}
.row1,
.row2 {
  width: 100%;
  margin: 10%;
}
.row1 > img {
  width: calc(100% + 100px);
}
.row2 > .header {
  width: 80%;
  margin-bottom: 10%;
}
.row2 > .bottomText {
  font-size: 90%;
  margin-bottom: 10%;
}

