* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181719;
}
header > div.header > h2 {
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 0.875rem;
  line-height: 1rem;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 80px;
  border: 1px solid #ffffff;
  /* box-sizing: border-box; */
  padding: 5px;
}
ul > li {
  list-style: none;
}
ul > li > a,
a.link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
  /* identical to box height */
  color: #ffffff;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5rem;
}
ul > li {
  margin: 0 30px;
}
ul > li > a:hover,
a.link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.nav-active {
  display: block;
}
/*******************MENU BUTTON*******************/
/* button display none */
button.menu {
  display: none;
}
/*********************/
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/*******************************************************/

/* Container header */
div.container h1.container-header {
  width: 400px!important;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #ffffff;
  margin-top: -5rem;
}
div.container p.bottomText {
  width: 405px;
  height: 145px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #ffffff;
}
p.p__link{
  width: 150px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container > .row:nth-child(1) {
  margin-top: -3rem;
  margin-left: calc(-50% + 30vw)!important;
}
/* Card */
.card__ {
  width: 350px !important;
  height: 150px !important;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left: 350px;
  margin-top: -100px !important;
  margin-bottom: 100px !important;
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
img.main-img {
  margin-top: 6rem;
  margin-left: 6rem!important;
  width: 821px;
}
div.card__ p.card__name,
p.card__position {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-top: 1rem;
}
div.card__ p.card__position {
  font-size: 12px;
  line-height: 15px;
  /* Gray 3 */
  color: #828282;
  margin-top: -0.5rem;
}
div.card__footer p.card__about {
  width: 287px;
  height: 62px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  margin-top: 0.5rem;
}
.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1em;
  /* padding: 1em; */
}
div.card__ img.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
}

/* footer */
footer > p {
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  /* identical to box height */
  color: #a9a9a9;
}
footer > p > a {
  text-decoration: none;
  color: #a9a9a9;
  border-bottom: 2px solid #a9a9a9;
}
footer > p > a:hover {
  color: #797676;
}
