/* Mobile */
@media only screen and (max-width: 500px) {
  .heading {
    padding-top: 70px;
  }
  .intro-header {
    margin-top: 1rem;
  }
  h4.name {
    font-size: 14px;
  }
  h5.position {
    font-size: 10px;
  }
  footer {
    margin-top: 150px;
  }
  div.container > div:nth-child(2) {
    margin-top: 35%;
  }
  div.container > div:nth-child(3) {
    margin-top: 0%;
  }
  div.container > div:nth-child(4) {
    margin-top: 17%;
  }
  div.container > div:nth-child(6) {
    margin-top: 18%;
  }
  div.container > div:nth-child(5) {
    margin-top: 0%;
  }
}

